nav {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    color: white;
    padding: 0 1.5rem;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    padding: 1rem;
}

li a {
    color: inherit;
}